@import '@solana/wallet-adapter-react-ui/styles.css';
@import "tailwindcss";

:root {
  --background: #1E1438;
  --foreground: #e8e8f0;
  --gold: #C9A84C;
  --purple-dark: #1E1438;
}

body {
  background-color: #1E1438;
  color: #e8e8f0;
  font-family: Arial, Helvetica, sans-serif;
}